<div class="container">
   <div class="row otro2">
      <div id="header" class="col m12">
         <img class="responsive-img" src="../../../assets/header.jpg" alt="logo">
      </div>
   </div>

   <div class="row otro2">

      <nav>
         <div class="nav-wrapper ">

            <ul class="left hide-on-med-and-down">
               <li><a class="menu" [routerLink]="['../../admon']"><i class="material-icons left">home</i>Inicio</a></li>
               <li><a class="menu" (click)="mostrar()"><i class="material-icons left">person_add</i>Registrar Enlace</a>
               </li>
               <li><a class="menu" [routerLink]="['../../admon/educativo']"><i
                        class="material-icons left">search</i>Perfíl
                     Educativo y Ocupacional</a></li>
               <li class="active"><a class="menu" [routerLink]="['../../admon/sugerencias']"><i
                        class="material-icons left">search</i>Sugerencias</a>
               </li>
               <li><a class="menu" [routerLink]="['../../inicio']"><i class="material-icons left">close</i>Cerrar
                     Sesión</a></li>
            </ul>
         </div>
      </nav>
   </div>

   <div class="row otro2">

      <h4 class="center">Sugerencias y reclamos</h4>
      <table class="responsive-table highlight">
         <thead>
            <tr>

               <th>Nombre</th>
               <th>Cédula</th>
               <th>Teléfono</th>
               <th>Enlance</th>
               <th>Asunto</th>
               <th>descripcion</th>
               <th>Eliminar</th>

            </tr>
         </thead>

         <tbody>
            <tr *ngFor="let sugerencia of sugerenciaService.sugerencias">
               <td>{{ sugerencia.nombre }}</td>
               <td>{{ sugerencia.id_usuario }}</td>
               <td>{{ sugerencia.telefono }}</td>
               <td>{{ sugerencia.id_enlace }}</td>
               <td>{{ sugerencia.asunto }}</td>
               <td>{{ sugerencia.descripcion }}</td>
               <td> <button (click)="selectsuge(sugerencia)" data-target="modal1" type="button" class="btn modal-trigger right">Eliminar<i
                        class="material-icons right">delete_forever</i></button>


               </td>
              

            </tr>

         </tbody>
      </table>
       <!-- Modal Structure -->
       <div id="modal1" class="modal">
         <div class="modal-content">
            <h4>¿Seguro Desea Eliminar la Sugerencia?</h4>
            <p>Aceptar para Eliminar la Sugerencia. <br>Cancelar para regresar.</p>
         </div>
         <div class="modal-footer">
            <a (click)="eliminarSugerencias()"
               class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
            <a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
         </div>
      </div>




      <div class="row">
         <div id="pie" class="col m12">
            <img class="responsive-img logos" src="../../../assets/fc.png" alt="logo">
            <img class="responsive-img logos" src="../../../assets/insta.png" alt="logo">
         </div>
      </div>
   </div>