.container{
    word-wrap:break-word;  
}



.col.m12{padding:0px;
}

.btn{
 margin-bottom: none;

}

#pie{
    height:50px;
    background-image: url("../../../assets/pie.jpg");
}
.logos{float: right;padding:5px 5px;

}
.text-primary{
    color: red;
}
input{
    cursor: pointer;
    color: white;

}
.icono{
    margin: 10px 5px;
    cursor: pointer;
    color: white;
}

nav{
    background: #37474f;
}

h2{
    margin-top: 2%;
}

.otro{
    background: #37474f;
}

.otro2{
 
    margin:0%;
}

.card-panel{
    padding-left:  8px;
    padding-right: 8px; 
   
}

.col.m4{
    background: white;
    border-radius: 15px;
    margin: 15px;
   
}

.col.m7{
    background: white;
    border-radius: 15px;
    margin: 15px;
}
a{
    padding-left:  8px;
    padding-right: 8px;   
}
