<div class="container">
    <div class="row otro2 ">
        <div class="col m12">
            <img class="responsive-img" src="../../../assets/header.jpg" alt="logo">
        </div>
    </div>
    <div class="row otro2">
        <nav>
            <div class="nav-wrapper ">

                <ul class="right hide-on-med-and-down ">
                    <!-- <li><a class="menu" [routerLink]="['../../../inicio']"><i
                                class="material-icons left">home</i>Inicio</a></li>
                    <li><a class="menu" [routerLink]="['../usuario']"><i class="material-icons left">edit</i>Editar
                            Registro</a>
                    </li> -->
                    <!-- <li><a class="menu" [routerLink]="['../sugerencias/crear']"><i
                                class="material-icons left">add</i>Registrar Sugerencias</a>
                    </li> -->
                    <li><a class="menu" [routerLink]="['']"><i class="material-icons left">close</i>Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="col m12 center">
            <h5>Eres importante para nosotros, este espacio es para ti.. cuéntanos</h5>
        <div class="row">
                <form [formGroup]="sugerenciaForm" class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">comment</i>
                            <input id="input_text" class="suge" type="text" formControlName="asunto" data-length="10">
                            <label for="input_text">Asunto:</label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">note_add</i>
                            <textarea id="textarea2" class="materialize-textarea suge" formControlName="descripcion"
                                data-length="120"></textarea>
                            <label for="textarea2">Descripción:</label>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <button (click)="addSugerencia()" class="btn waves-effect waves-light btn1 right" type="button"
                (click)="resetForm(sugerenciaForm)">Enviar<i class="material-icons right">markunread_mailbox</i></button>
            <button class="btn waves-effect waves-light btn1 left" type="button"
                [routerLink]="['../../../inicio']">Inicio<i class="material-icons right"></i></button>
                <!-- Modal Structure -->
                <div id="modal2" class="modal">
                    <div class="modal-content">s
                       <h4>¿Deseas Guardar y Salir?</h4>
                       <p>Aceptar para guardar y salir del registro. <br>Cancelar para guardar la sugerencia y registrar otro usuario.</p>
                    </div>
                    <div class="modal-footer">
                       <a (click)="addSugerencia()"  class="modal-close waves-effect waves-green btn-flat" (click)="inicio()">Aceptar</a>
                       <a  (click)="addSugerencia()" class="modal-close waves-effect waves-green btn-flat" (click)="resetForm(sugerenciaForm)">Cancelar</a>
                    </div>
                 </div>   
        </div>
        <div class="row otro2">
            <div id="pie" class="col m12">
                <img class="responsive-img logos" src="../../../assets/fc.png" alt="logo">
                <img class="responsive-img logos" src="../../../assets/insta.png" alt="logo">
            </div>
        </div>
    </div>
</div>