<div class="container">
    <div class="row ">
        <div class="col m12">
            <img class="responsive-img" src="../../../assets/header.jpg" alt="logo">
        </div>
    </div>
    <div class="row">
        <div class="col m12 center">
            <h5>Eres importante para nosotros, este espacio es para ti.. cuentanos</h5>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">mode_edit</i>
                            <input id="input_text" type="text" data-length="10">
                            <label for="input_text">Asunto:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                            <label for="textarea2">Descripción:</label>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <button id="sugerencia" class="btn waves-effect waves-light btn1" type="submit" name="action">Guardar<i
                    class="material-icons right" [routerLink]="['../inicio']"></i> </button>
        </div>
        <div class="row">
            <div id="pie" class="col m12">
                <img class="responsive-img" id="logos" src="../../../assets/fc.png" alt="logo">
                <img class="responsive-img" id="logos" src="../../../assets/insta.png" alt="logo">
            </div>
        </div>
    </div>
</div>