<div class="container">
   <div class="row ">
      <div class="col m12">
         <img class="responsive-img" src="../../../assets/registro.jpg" alt="logo">
      </div>
   </div>
   <div class="row">

      <div class="col m12 center">
         <h3>Ingrese el codigo del enlace</h3>

         <input id="enlace" name="enlace" type="number" placeholder="2020" class="center"
            title="debe ingresar un numero de 4 digitos" maxlength="4">      
         <br>
         <button id="enlace" (click)="mostrar()" class="btn waves-effect waves-light btn1" type="button"
            name="action">Siguiente<i class="material-icons right">send</i> </button>

      </div>
   </div>

   <div class="row">
      <div id="pie" class="col m12">
         <img class="responsive-img" id="logos" src="../../../assets/fc.png" alt="logo">
         <img class="responsive-img" id="logos" src="../../../assets/insta.png" alt="logo">
      </div>
   </div>
</div>
