<div class="container">
   <div id="registro1">
      <div class="row otro2 ">
         <div class="col m12">
            <img class="responsive-img" src="../../../assets/registro.jpg" alt="logo">
         </div>

      </div>
   </div>
   <div class="row">
      <div class="col m12">
         <nav class="nav">
            <div class="nav-wrapper">
               <div class="col s12 ">
                  <a href="usuario" class="breadcrumb datos">Datos personales</a>

               </div>
            </div>
         </nav>
         <!-- se crea un formulario -->
         <form [formGroup]="usuarioForm">
            <div>
               <div class="row">
                  <div class="input-field col s6">
                     <i class="material-icons prefix">account_circle</i>
                     <input type="text" formControlName="nombre" placeholder="Ingrese su nombre">
                     <br>
                     <span class="existeUsuario" *ngIf="spanNombre.length > 0">{{spanNombre}}</span>
                  </div>
                  <div class="input-field col s6">
                     <i class="material-icons prefix">account_box</i>
                     <input type="text" formControlName="apellido" placeholder="Ingrese su apellido">
                  </div>
                  <div class="input-field col s6">
                     <i class="material-icons prefix">perm_contact_calendar</i>
                     <input type="number" [ngClass]="{'after': existeUsuario}" formControlName="identificacion"
                        placeholder="Ingrese su identificación">
                     <br>
                     <span class="existeUsuario" *ngIf="existeUsuario">Ya existe el usuario</span>
                  </div>
                  <div class="input-field col s6">
                     <i class="material-icons prefix">vpn_key</i>
                     <input type="password" formControlName="contrasena" placeholder="Ingrese su contraseña">
                  </div>
                  <div class="input-field col s6">
                     <i class="material-icons prefix">phone</i>
                     <input type="number" formControlName="telefono" placeholder="Ingrese su telefono">
                  </div>
                  <div class="input-field col s6">
                     <i class="material-icons prefix">home</i>
                     <input  type="text" name="direccion" formControlName="direccion" placeholder="Ingrese su dirección">
                  </div>
                  <div class="input-field  col s6 ">
                     <i class="material-icons prefix" >place</i>
                     <select id="ciudad" formControlName="ciudad">
                        <option value="" disabled selected>Seleccione su ciudad</option>
                        <option value="Cali">Cali</option>
                        <option value="Buenaventura">Buenaventura</option>s
                        <option value="Dagua">Dagua</option>
                        <option value="Jamundi">Jamundi</option>
                        <option value="Rozo">Rozo</option> 
                        <option value="Yumbo">Yumbo</option>
                     </select>
                     <!-- <label>Ciudad</label> -->
                  </div>

                  <div class="input-field col s6">
                     <i class="material-icons prefix">pin_drop</i>
                     <!-- <input type="number" name="comuna" formControlName="comuna" placeholder="Ingrese su comuna"> -->
                     <select id="comuna" formControlName="comuna">
                        <option value="" disabled>Seleccione su comuna</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>

                     </select>
                  </div>
                  <div class="input-field col s6">
                     <i class="material-icons prefix">account_balance</i>
                     <input type="text" name="puesto_votacion" formControlName="puesto_votacion"
                        placeholder="Ingrese su puesto votación">
                  </div>
                  <div class="input-field col s6">
                     <i class="material-icons prefix">vertical_align_bottom</i>
                     <!-- <input type="number" name="mesa_votacion" formControlName="mesa_votacion"
                        placeholder="Ingrese su mesa votación"> -->
                     <select id="mesa_votacion" formControlName="mesa_votacion">
                        <option value="" disabled>Seleccione su mesa votación</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                        <option value="46">46</option>
                        <option value="47">47</option>
                        <option value="48">48</option>
                        <option value="49">49</option>
                        <option value="50">50</option>
                     </select>

                  </div>
               </div>
            </div>
            <div>
               <div class="row">
                  <div class="input-field col s6">
                     <i class="material-icons prefix">school</i>
                     <!-- <input type="text" name="nivel_escolaridad" formControlName="nivel_escolaridad" -->
                     <!-- placeholder="Ingrese su nivel de escolaridad"> -->
                     <select id="nivel_escolaridad" formControlName="nivel_escolaridad">
                        <option value="" disabled>Seleccione el nivel de escolaridad</option>
                        <option value="Tecnico">Técnico</option>
                        <option value="Tecnologo">Tecnólogo</option>
                        <option value="Profesional">Profesional</option>
                        <option value="Bachiller">Bachiller</option>
                        <option value="Primaria">Primaria</option>
                        <option value="Ninguno">Ninguno</option>
                     </select>
                     <!-- <label>Ingrese nivel de escolaridad</label> -->
                  </div>
                  <div class="input-field col s6">
                     <i class="material-icons prefix">work</i>
                     <!-- <input type="text" name="perfil_ocupacional" formControlName="perfil_ocupacional" -->
                     <!-- placeholder="Ingrese su perfil ocupacional"> -->
                     <select id="perfil_ocupacional" formControlName="perfil_ocupacional">
                        <option value="" disabled>Seleccione el perfil ocupacional </option>
                        <option value="Sistemas">Sístemas</option>
                        <option value="Electrico">Eléctrico</option>
                        <option value="Electronico">Eléctronico</option>
                        <option value="Licenciatura">Licenciatura</option>
                        <option value="Diseñadorgrafico">Diseñador Gráfico</option>
                        <option value="Industrial">Industrial</option>
                        <option value="Contabilidad">Contabilidad</option>
                        <option value="Administracion">Administración</option>
                        <option value="Arquitectura">Arquitectura</option>
                        <option value="Abogacia">Abogacia</option>
                        <option value="Salud">Salud</option>
                        <option value="Civil">Civil</option>
                        <option value="Comunicacionsocial">Comunicación Social</option>
                        <option value="Deporte">Deporte</option>
                        <option value="Economia">Economía</option>
                        <option value="Hosteleria">Hostelería</option>
                        <option value="Idiomas">Idiomas</option>
                        <option value="Humanidades">Humanidades</option>
                        <option value="Mecanica">Mecánica</option>
                        <option value="Telecomunicaciones">Telecomunicaciones</option>
                        <option value="Mensajero">Mensajero</option>
                        <option value="OficiosVarios">Oficios Varios</option>
                        <option value="Amadecasa">Ama de casa</option>
                        <option value="Estudiante">Estudiante</option>
                     </select>
                     <!-- <label>Ingrese nivel de escolaridad</label> -->


                  </div>
                  <div class="input-field col s6">
                     <i class="material-icons prefix">next_week</i>
                     <!-- <input type="text" name="trabaja" formControlName="trabaja"
                        placeholder="¿labora actualmente? SI o NO"> -->
                     <select id="trabaja" formControlName="trabaja">
                        <option value="" disabled>¿labora actualmente?</option>
                        <option value="SI">SI</option>
                        <option value="NO">NO</option>
                     </select>

                  </div>
                  <div class="input-field col s6">
                     <i class="material-icons prefix">supervisor_account</i>
                     <!-- <input type="number" name="personas_cargo" formControlName="personas_cargo"
                        placeholder="Ingrese cantidad de personas a cargo"> -->
                     <select id="personas_cargo" formControlName="personas_cargo">
                        <option value="" disabled>Seleccione cantidad de personas a cargo</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                     </select>

                  </div>
                  <div class="card-action">
                     <div class="input-field col s12">
                        <button (click)="addUsuario()" class="btn right"
                           (click)="resetForm(usuarioForm)">Enviar</button>



                        <button class="btn waves-effect waves-light btn1" type="button"
                           (click)="inicio()">Inicio<i class="material-icons right"></i></button>
                     </div>
                  </div>

               </div>
            </div>

         </form>
      </div>
   </div>
</div>