.nav{
    background: #37474f;
}
.datos{
    color: white;
}
.select{
    visibility: visible;
    color: red;
        
}
.otro2{
 
    margin:0%;
}
.existeUsuario{
    color: red;
    position: absolute;
    left: 15%;
}

#color_letra{
    color: red;
    visibility: visible;  
}

.input-field select{
    color: green;
}

::placeholder{
    color: black;
}