<div class="container">
   <div class="row otro2">
      <div id="header" class="col m12">
         <img class="responsive-img" src="../../../assets/header.jpg" alt="logo">
      </div>
   </div>

   <div class="row otro2">

      <nav>
         <div class="nav-wrapper ">

            <ul class="left hide-on-med-and-down ">
               <li><a class="menu" [routerLink]="['../../admon']"><i class="material-icons left">home</i>Inicio</a></li>
               <li><a class="menu" (click)="mostrar()"><i class="material-icons left">person_add</i>Registrar Enlace</a>
               </li>
               <li><a class="menu" [routerLink]="['../../admon/educativo']"><i
                        class="material-icons left">search</i>Perfíl
                     Educativo y Ocupacional</a></li>
               <li><a class="menu" [routerLink]="['../../admon/sugerencias']"><i
                        class="material-icons left">search</i>Sugerencias</a>
               </li>
               <li><a class="menu" [routerLink]="['']"><i class="material-icons left">close</i>Cerrar Sesión</a></li>
            </ul>
         </div>
      </nav>
   </div>

   <div class="row otro2">
      <h4 class="center">Pérfil Educativo y Ocupacional </h4>
      <div class="row otro2 center">
         <nav>
            <div class="nav-wrapper">
               <form>
                  <div class="input-field">
                     <input id="search" type="search" placeholder="Ingrese el pérfl Ocupacional" required>
                     <label  class="label-icon" for="search"><i class="material-icons">search</i></label>
                     <i class="material-icons">close</i>
                  </div>
               </form>
            </div>
         </nav>
         
      </div>
      <table class="responsive-table highlight">
         <thead>
            <tr>
               <th>Cédula</th>
               <th>Nombre</th>
               <th>Apellido</th>
               <th>Telefono</th>
               <th>Pérfil Educativo</th>
               <th>Pérfil Ocupacional</th>
               <th>Personas a Cargo</th>

            </tr>
         </thead>

         <tbody>
            <tr *ngFor="let usuario of usuarioService.usuarios">
               <td>{{ usuario.identificacion }}</td>
               <td>{{ usuario.nombre }}</td>
               <td>{{ usuario.apellido }}</td>
               <td>{{ usuario.telefono }}</td>
               <td>{{ usuario.nivel_escolaridad }}</td>
               <td>{{ usuario.perfil_ocupacional }}</td>
               <td>{{ usuario.personas_cargo }}</td>
                
            </tr>
         </tbody>
      </table>


      <div class="row">
         <div id="pie" class="col m12">
            <img class="responsive-img logos" src="../../../assets/fc.png" alt="logo">
            <img class="responsive-img logos" src="../../../assets/insta.png" alt="logo">
         </div>
      </div>
   </div>

   <script>
      $(document).ready(function () {
         $('.sidenav').sidenav();
      });
   </script>